/* google web font */
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Staatliches', cursive; */
/* font-family: 'Fredoka One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
    margin: 0;
    padding: 0;
}

/* hyperlink underline clear */
a, a:link, a:visited, a:focus, a:hover {
    text-decoration: none;
}

/* foundation */
.img-responsive {
    width: 100%;
    height: auto;
    max-width: 100%;
    border: 1px solid #e4e4e4;
}

/* col-* align section */
.col-1 {
    margin-left: auto;
    margin-right: auto;
}

/* warp section */
.title {
    width: 100%;
    text-align: center;
    background-color: #222222;
    color: white;
}

.title-menu {
    display: inline-block;
}

#profile {
    color: white;
    left: 60px;
    position: relative;
    top: -5px;
}

.title-center {
    /* color: #eeeeee; */
    display: inline-block;
    font-weight: 900;
    padding: 10px 0;
    font-size: 32px;
    font-family: 'Staatliches', cursive;
}

.notice-tag {
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    background-color: #f3f3f3;
    font-family: 'Noto Sans KR', sans-serif;
}

.table {
    /* display: inline-block; */
    margin-top: 8%;
    font-size: 16px;
    text-align: center;
}

.table-list a {
    color: black;
    line-height: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}

.table-list a:hover {
    font-weight: bold;
}

.footer {
    width: 100%;
    background-color: #000000;
}

.footer-section {
    padding: 30px 0 40px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
.footer-section > li {
    color: #dbdbdb;
    vertical-align: top;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    /* mobile phones */
    [class*="table"] {
        margin-top: 5%;
    }
  }