
.dropdown-menu {
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    transition: all .2s ease;
}

.profile-warp {
    display: none;
    position: relative;
}

.profile-warp.active {
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
}

.profile-warp ul li a {
    display: block;
    color: white;
    padding: 10px 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .2s ease;
}

.profile-warp ul li a:hover {
    background-color: #313131;
}

/* .profile-warp ul li:first-child a {
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.profile-warp ul li:last-child a {
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
} */



/* .profile-warp:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: transparent transparent pink transparent;
    z-index: 1;
} */